<a href="https://colab.research.google.com/github/Nguyenhunggiabao/ThucHanhToanCC/blob/main/thuchanh7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

thực hành 1

In [1]:
from sympy import Symbol, Integral 
x = Symbol('x') 
f = 1.0/x 
unbound1 = Integral(f, (x, 0, 2)) 
unbound1.doit()

oo

thực hành 2

In [2]:
from sympy import Symbol, Integral 
>>> x = Symbol('x') 
>>> f = 1.0/x**2 
>>> unbound2 = Integral(f, (x, -1,1))
unbound2.doit()

oo

thực hành 3

In [3]:
from sympy import Symbol, Integral, Abs 
x = Symbol('x') 
f = Abs(x) 
discontinous1 = Integral(f, (x, -1, 2)) 
discontinous1.doit()

5/2

thực hành 4

In [4]:
from sympy import Symbol, Integral 
x = Symbol('x') 
f = x**(0.5) 
undef1 = Integral(f, (x, -1, 1)) 
undef1.doit()

0.666666666666667 + 0.666666666666667*I

thực hành 5

In [5]:
from scipy import integrate
import numpy as np
y = np.array([0.0, 4.1, 8.9, 8.5, 6.7, 4.3, 2.5, 1.2,0.2]) 
x = np.arange(0,9) 
integrate.simps(y, x)

36.26666666666666

In [6]:
S = 2*integrate.simps(y, x)
print(S)

72.53333333333332

In [7]:
A = 5.5 
F = A/S * 60
print(F)

4.5496323529411775

thực hành 6

In [8]:
from sympy import Symbol, Integral, Derivative, sqrt 
x = Symbol('x')
f = x**(3/2)
d1 = Derivative(f,x).doit()
d1

1.5*x**0.5

In [9]:
d2 = sqrt(1+d1**2)
d3 = Integral(d2, (x,0,2))
d3

Integral(1.5*sqrt(x**1.0 + 0.444444444444444), (x, 0, 2))

thực hành 8

In [10]:
from sympy import difference_delta as dd 
from sympy.abc import n 
dd(n*(n+1), n)

2*n + 2

In [11]:
dd(n*(n+1),n,2)

4*n + 6

In [12]:
from sympy.abc import n, k 
from sympy import limit_seq 
limit_seq((3*n**3+5*n**2+4)/(5*n**3+200*n**2+400), n)

3/5

In [13]:
limit_seq((3*n**3+5*n**2+4)/(5*n**3+200*n**2+400), n)

3/5

In [14]:
from sympy.abc import n, k, m
from sympy import Sum  
limit_seq(Sum(k**2 * Sum(2**m/m,(m,1,k)),(k,1,n))/(2**n*n), n)

4

In [15]:
from sympy import series 
from sympy import Sum 
from sympy.series.limitseq import dominant 
from sympy.abc import n,k
dominant(n**3+100*n**2+200*n+1, n)

n**3

In [16]:
dominant(2**n + Sum(k, (k,0,n)), n)

2**n

In [17]:
dominant(n**2 + Sum(k, (k,0,n)), n)

In [18]:
dominant(2*n**2 + Sum(k, (k,0,n)), n)

In [19]:
dominant(n**3 + Sum(k, (k,0,n)), n)

n**3

In [20]:
dominant(n*3 + Sum(k, (k,0,n)), n)

Sum(k, (k, 0, n))

In [21]:
dominant(2*n*3 + Sum(k, (k,0,n)), n)

Sum(k, (k, 0, n))

In [22]:
dominant(2*n**3 + Sum(k, (k,0,n)), n)

2*n**3

thực hành 9

In [23]:
from sympy import Sum 
from sympy.abc import n, k 
S = Sum(k, (k, 0, n))
S

Sum(k, (k, 0, n))

In [24]:
from sympy import Symbol, cos, series 
x = Symbol('x') 
S1 = series(cos(x), x) 
S1

1 - x**2/2 + x**4/24 + O(x**6)

In [25]:
from sympy.abc import n 
e = (1+1/n)**n 
print (round(e.subs(n, 100).evalf(),10))

2.7048138294