<a href="https://colab.research.google.com/github/Nguyenhunggiabao/ThucHanhToanCC/blob/main/to%E1%BA%A3noirac2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

chương 2: ánh xạ và quy nạp toán học

1.1. Viết hàm trong Python

In [90]:
def luythua(x, n):
 ketqua= 1
 for i in range(n):
  ketqua = ketqua *x
 return ketqua

In [91]:
 luythua(2,1)

2

In [92]:
 luythua(2,0)

1

1.2. Kiểu dữ liệu tập hợp (set) trong Python

ví dụ 1

In [93]:
{2, 4, 6}

{2, 4, 6}

ví dụ 2

In [94]:
 { n for n in range(100) if n % 2 == 1 }

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

ví dụ 3

In [95]:
tap_rong = set()
print (tap_rong)

set()

In [96]:
setA = { n for n in range(100) if n % 2 == 1 }
setB = { n for n in range(100) if n % 2 == 1 }

In [97]:
setA | setB

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [98]:
setA & setB

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [99]:
setA - setB

set()

In [100]:
setA < setB

False

In [101]:
 setA <= setB

True

In [102]:
10 in setA

False

In [103]:
11 in setA

True

In [104]:
setA.add(0)

In [105]:
setA > setB

True

1.3. Hàm lambda trong Python

Ví dụ 1: Sử dụng hàm lambda để tính x*x

In [106]:
def f (x):
  return x**2

In [107]:
print(f(8))

64

In [108]:
g = lambda x: x**2
print(g(8))

64

Ví dụ 2: Tính thuế theo địa phương

In [109]:
def thue(phan_tram): return lambda x: x * phan_tram

In [110]:
hcm = thue(0.012)

In [111]:
hn = thue(0.01)

In [112]:
hcm(1000000)

12000.0

Ví dụ 3: Liệt kê các số chia hết cho 3 từ 2 đến 49.

In [123]:
day_so = range(2, 50)
list(filter(lambda x: x % 3 == 0, day_so))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

Ví dụ 4: Về hàm map()

In [124]:
list(map(lambda x: x * x , day_so))

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

Ví dụ 5: Giới thiệu hàm reduce() cho hàm lambd

In [139]:
from functools import reduce 
day_so = range(1, 11)
reduce(lambda x, y: x+y, day_so)

55

Ví dụ 6: Tìm số lớn nhất trong một dãy số

In [140]:
ds = [20, 25, 50, 103, 13, 19] 
f = lambda a,b: a if (a>b) else b 
print (reduce(f, ds))

103

Ví dụ 7: in ra ma trận đường chéo In với n là số nguyên (n>1):

In [141]:
imatrix = lambda n:[[1 if j==i else 0 for j in range(n)] for i in range(n)] 
imatrix(3)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [142]:
import numpy
list_eye = lambda n: numpy.eye(n).tolist()
list_eye(4)

[[1.0, 0.0, 0.0, 0.0],
 [0.0, 1.0, 0.0, 0.0],
 [0.0, 0.0, 1.0, 0.0],
 [0.0, 0.0, 0.0, 1.0]]

Ví dụ 8: In ra ma trận hệ số: với n==3 thì là ma trận 3x3 có đường chéo là căn 2.

In [146]:
import math 
g = lambda n:[[1 if (j+1==i or j==i+1) else math.sqrt(2) for j in range(n)] for i in range(n)] 
g(3)

[[1.4142135623730951, 1, 1.4142135623730951],
 [1, 1.4142135623730951, 1],
 [1.4142135623730951, 1, 1.4142135623730951]]

Ví dụ 9: Như ví dụ 8 nhưng ô ở giữa bằng 0

In [147]:
g = lambda n:[[1 if (j+1==i or j==i+1) else 0 if(i==n/2) else math.sqrt(2) for j in range(n)]
for i in range(n)]
g(3)

[[1.4142135623730951, 1, 1.4142135623730951],
 [1, 1.4142135623730951, 1],
 [1.4142135623730951, 1, 1.4142135623730951]]

2. Ánh xạ và hàm hợp
2.1. Phân loại ánh xạ và một số tính chất

2.2. Hàm hợp trong Python

In [177]:
def alpha(a):
  return a+10
def beta(b):
  return b*3
def ham_hop(g, f): 
  return (lambda x: g(f(x)))
h = ham_hop(alpha,beta)

In [178]:
h(1)

13

In [179]:
g = ham_hop(beta, alpha)
g(1)

33

3. Quy nạp toán học và xây dựng hàm đệ quy trong Python

In [159]:
from datetime import datetime 
from datetime import timedelta
def millis(start_time):
 dt = datetime.now() - start_time
 ms = (dt.days * 24 * 60 * 60 + dt.seconds) * 1000 + dt.microseconds / 1000.0
 return ms
def milisec_passed(start_time):
  thoigian_troi_qua = millis(start_time)
  s = "Thoi gian da troi qua:" + str(int(thoigian_troi_qua)) + " mili giay."
  return s

In [160]:
def tong(n):
 bat_dau = datetime.now()
 ketqua = 0
 for i in range(n+1):
  ketqua = ketqua + i
 thoi_gian = str(milisec_passed(bat_dau))
 print(thoi_gian)
 return ketqua

In [161]:
tong(100000000)

Thoi gian da troi qua:7088 mili giay.

5000000050000000

In [162]:
 def tong1(n):
  bat_dau = datetime.now()
  ket_qua = n*(n+1)/2
  thoi_gian = str(milisec_passed(bat_dau))
  print(thoi_gian)
  return ket_qua

In [163]:
tong1(100000000)

Thoi gian da troi qua:0 mili giay.

5000000050000000.0

In [164]:
 def fibo(n):
  if (n == 0) or (n == 1):
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

In [165]:
fibo(2)

2

In [167]:
fibo(3)

3

In [168]:
fibo(4)

5

In [169]:
fibo(5)

8

In [170]:
def fibo_mem(n, so_da_tinh = {0:0, 1: 1}):
  if n not in so_da_tinh:
    so_da_tinh[n] = fibo_mem(n-1, so_da_tinh) + fibo_mem(n-2, so_da_tinh)
  return so_da_tinh[n]

In [171]:
fibo_mem(3)

2

In [172]:
fibo_mem(200)

280571172992510140037611932413038677189525

In [173]:
fibo_mem(500)

139423224561697880139724382870407283950070256587697307264108962948325571622863290691557658876222521294125

BÀI TẬP CHƯƠNG 2

Câu 1: